<footer class="footer">

  <div class="row">
    <div class="col-md-8">
      <h4>{{ site.title }}</h4>

      <ul class="list-unstyled">
        <li><i class="fa fa-map-marker"></i> {{ site.mailing_address }}</li>
        <li><i class="fa fa-envelope"></i> <a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
        <li><i class="fa fa-phone"></i> {{ site.phone_number }}</li>
      </ul>
    </div>
    <div class="col-md-4">
        <div class="text">{{ site.copyright }}</div>
        <ul class="list-inline">
          <li><a href="https://twitter.com/{{ site.twitter_username }}"><i class="fa fa-twitter"></i></a></li>
          <li><a href="{{ site.facebook_page }}"><i class="fa fa-facebook"></i></a></li>
          <li><a href="{{ "/feed.xml" | prepend: site.baseurl }}"><i class="fa fa-rss"></i></a></li>
        </ul>
    </div>
  </div>

</footer>
