{% assign url_elements = page.url | split:"/" %}
{% assign section_name = url_elements[1] %}

<div class="header">
  <nav>
    <ul class="nav nav-pills pull-right">
        {% for section in site.data.sitemap %}
          {% if section.subsections %}
      <li class="dropdown{% if section_name == section.id %} active{% endif %}">
        <a data-toggle="dropdown" class="dropdown-toggle" href="#">{{ section.title }}</a>
        <ul class="dropdown-menu">
          {% for subsection in section.subsections %}
          <li><a href="/{{ section.id }}/{{ subsection.id }}/">{{ subsection.title }}</a></li>
          {% endfor %}
        </ul>
      </li>
          {% else %}
      <li{% if section_name == section.id %} class="active"{% endif %}><a href="/{{ section.id }}/">{{ section.title }}</a></li>
          {% endif %}
        {% endfor %}
    </ul>
  </nav>
  <h3><a href="{{ site.baseurl }}/"><img src="/img/ibc-logo.jpg" width="150" height="83" /></a></h3>
</div>
